---
---
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{project_name}}</title>
  </head>
  <body>
    <main>
      <h1>{{project_name}} / {{block_name}} web</h1>
    </main>
  </body>
</html>
